body {
    background-color:rgb(215, 196, 181);
    color:rgb(0, 0, 0);
    font-size: 36px;
    font-weight: 300;
    letter-spacing: .25px;
    line-height: 1.25;
    overflow-wrap: break-word;
    word-break: break-word;
}

img {
    clip-path: circle(50%);
    width: 200px;
    height: 200px;
}

.flex-container {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}
    
.coluna-normal {
    display: flex;
    flex-direction: column;
}
  
.coluna-reversa {
    display: flex;
    flex-direction: column-reverse;
}